.online::before{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 10px;
margin-right: 10px;}
    .offline::before{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 10px;
margin-right: 10px;}
.name{
    font-weight: 500;
    margin-left: 20px;
}
